<section id="contact-container">
  <div class="section-content">
    <h3>Contact</h3>
    <p appInView="slide-in">
      Feel free to reach out! Send me a message below or check out my links to
      connect.
    </p>
    <div id="form-and-links">
      <form>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
        />
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          placeholder="Enter your message"
        ></textarea>
        <button appInView="grow-in">Send Message</button>
      </form>
      <div id="contact-links">
        <div class="link-group">
          <h4>Email</h4>
          <a appInView="slide-in" href="#">test&#64;gmail.com</a>
        </div>
        <div class="link-group">
          <h4>Social</h4>
          <div id="social-links">
            <i appInView="slide-in" class="fa-brands fa-github fa-3x"></i>
            <i appInView="slide-in" class="fa-brands fa-linkedin fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
