<section id="projects-section">
  <div class="section-content">
    <h3>Projects</h3>
    <p appInView="slide-in">
      A collection of projects that highlight my journey from front-end design
      to full-stack development.
    </p>

    <article appInView="glide-in">
      <div
        class="p-img"
        [ngClass]="{ 'p-img-active': slides[0] }"
        (click)="toggleLink(0)"
      >
        <img src="../../../assets/images/salon1.png" alt="salon-img" />
        <div class="project-links">
          <a href="https://github.com/JA1400/HairSalon"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <button
            (click)="openLink($event, 'https://hairsalon-nhs2.onrender.com', 1)"
            [disabled]="isLoadingEJS"
          >
            @if (!isLoadingEJS) {
            <i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i>
            } @else {
            <span class="loader"></span>
            }
          </button>
        </div>
      </div>
      <div class="p-desc">
        <div class="p-desc-content">
          <h5>Hair Salon EJS</h5>
          <div class="tech-container">
            <div class="tech-item">NodeJS</div>
            <div class="tech-item">EJS</div>
            <div class="tech-item">Mongo</div>
            <div class="tech-item">Figma</div>
          </div>
          <p class="p-text">
            A full-stack web application powered by a Node.js back end and an
            EJS front end. It features a MongoDB database and uses session-based
            cookies for secure login to the admin panel, which allows for
            managing the site's content.
          </p>
        </div>
      </div>
    </article>
    <article appInView="glide-in">
      <div
        class="p-img"
        [ngClass]="{ 'p-img-active': slides[1] }"
        (click)="toggleLink(1)"
      >
        <img src="../../../assets/images/salon2.png" alt="salon-img" />
        <div class="project-links">
          <a href="https://github.com/JA1400/NGHairSalon"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <button
            (click)="openLink($event, 'https://nghairsalon.onrender.com', 0)"
            [disabled]="isLoadingSPA"
          >
            @if (!isLoadingSPA) {
            <i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i>
            } @else {
            <span class="loader"></span>
            }
          </button>
        </div>
      </div>
      <div class="p-desc">
        <div class="p-desc-content">
          <h5>Hair Salon SPA</h5>
          <div class="tech-container">
            <div class="tech-item">NodeJS</div>
            <div class="tech-item">Angular</div>
            <div class="tech-item">Mongo</div>
            <div class="tech-item">TypeScript</div>
          </div>
          <p class="p-text">
            Rebuilt version of the Hair Salon web app using Angular 16. This SPA
            features JWT-based authentication, replacing the previously used
            session-based cookies, and utilizes JSON-based API calls with its
            Node.js back end.
          </p>
        </div>
      </div>
    </article>
    <article appInView="glide-in">
      <div
        class="p-img"
        [ngClass]="{ 'p-img-active': slides[2] }"
        (click)="toggleLink(2)"
      >
        <img
          src="../../../assets/images/cafe.png"
          class="cafe-img"
          alt="salon-img"
        />
        <div class="project-links">
          <a href="https://github.com/JA1400/ProjectCafe"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <a href="https://horseyscaffee.netlify.app/"
            ><i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i
          ></a>
        </div>
      </div>
      <div class="p-desc">
        <div class="p-desc-content">
          <h5>Modern Café Site</h5>
          <div class="tech-container">
            <div class="tech-item">JavaScript</div>
            <div class="tech-item">HTML</div>
            <div class="tech-item">CSS</div>
          </div>
          <p class="p-text">
            A modern and elegantly designed café website built with HTML, CSS,
            and JavaScript, showcasing a responsive layout and user-friendly
            interface.
          </p>
        </div>
      </div>
    </article>
    <article appInView="glide-in">
      <div
        class="p-img"
        [ngClass]="{ 'p-img-active': slides[3] }"
        (click)="toggleLink(3)"
      >
        <img
          src="../../../assets/images/slots.png"
          class="slots-img"
          alt="cafe-img"
        />
        <div class="project-links">
          <a href="https://github.com/JA1400/SlotsGame"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <a href="https://casinoslotsgame.netlify.app/"
            ><i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i
          ></a>
        </div>
      </div>
      <div class="p-desc">
        <div class="p-desc-content">
          <h5>Casino Slots Game</h5>
          <div class="tech-container">
            <div class="tech-item">JavaScript</div>
            <div class="tech-item">HTML</div>
            <div class="tech-item">CSS</div>
          </div>
          <p class="p-text">
            A browser-based casino slots game built with HTML, CSS, and
            JavaScript. Features include smooth slot animations, interactive
            buttons, background music, and sound effects for an immersive gaming
            experience.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
