<nav>
  <section>
    <h4 id="logo-text">Jose Federico</h4>
    <div class="main-links">
      <a href="#home" [class.active]="activeSection === 'home'">Home</a>
      <a href="#about" [class.active]="activeSection === 'about'">About</a>
      <a href="#projects" [class.active]="activeSection === 'projects'"
        >Projects</a
      >
      <a href="#contact" [class.active]="activeSection === 'contact'"
        >Contact</a
      >
    </div>
    <button
      (click)="toggleMenu()"
      [ngClass]="{ 'open-menu': menuToggle }"
      id="menu-btn"
    >
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  </section>
  <aside
    class="mobile-links"
    [ngClass]="{ closed: !menuToggle, open: !menuToggle }"
  >
    <a
      href="#home"
      [class.active]="activeSection === 'home'"
      (click)="toggleMenu()"
      >Home</a
    >
    <a
      href="#about"
      [class.active]="activeSection === 'about'"
      (click)="toggleMenu()"
      >About</a
    >
    <a
      href="#projects"
      [class.active]="activeSection === 'projects'"
      (click)="toggleMenu()"
      >Projects</a
    >
    <a
      href="#contact"
      [class.active]="activeSection === 'contact'"
      (click)="toggleMenu()"
      >Contact</a
    >
  </aside>
</nav>
