header {
  box-sizing: border-box;
  height: calc(100dvh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(20, 108, 148);
  background: linear-gradient(
    180deg,
    rgba(20, 108, 148, 1) 2%,
    rgba(25, 167, 206, 1) 30%,
    rgba(175, 211, 226, 1) 63%,
    rgba(246, 241, 241, 1) 86%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 1rem 1rem;

  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 80rem;

    .img-container {
      height: 15rem;
      display: flex;
      justify-content: center;
      img {
        width: 15rem;
      }
    }

    .text-container {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .headline-text {
        min-height: 4.8rem;
        h1,
        h2 {
          position: relative;
          font-size: 2rem;
          margin: 0;
          font-weight: 700;
          #name-text {
            font-family: "Pacifico", serif;
            font-weight: bold;
          }
        }
        h2 {
          width: fit-content;
          color: #115d81;
        }

        h2::after {
          position: absolute;
          content: "|";
          height: 2rem;
          font-weight: 100;
          left: 100%;
          background-color: #115d81;
          animation: blink 1s step-start 0s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 0;
          }
        }
      }
      p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .link-icons {
        display: flex;
        gap: 1rem;

        a {
          color: black;
          transition: transform 50ms ease-in-out;
        }

        a:nth-of-type(2) i {
          color: #0077b5;
        }

        a:hover {
          transform: scale(1.1);
        }
      }
      button {
        width: 12rem;
        height: 4rem;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #146c94;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
      }

      button:hover {
        background-color: #4e89a4;
      }

      button:active {
        transform: scale(0.9) !important;
      }
    }
  }
}

@media (min-width: 540px) {
  header {
    padding: 1rem 2rem;
    .hero-content {
      .text-container {
        .headline-text {
          min-height: 5.5rem;
          h1,
          h2 {
            font-size: 2.25rem;
          }

          h2::after {
            height: 2.25rem;
          }
        }

        p {
          font-size: 1.125rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 1rem 3rem;
    .hero-content {
      .img-container {
        height: 18em;

        img {
          width: 18rem;
        }
      }
      .text-container {
        justify-content: center;
        gap: 1.5rem;
        .headline-text {
          min-height: 6rem;
          h1,
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  header {
    .hero-content {
      flex-direction: row-reverse;
      gap: 1.5rem;
      .img-container {
        height: 20rem;
        img {
          width: 20rem;
        }
      }

      .text-container {
        gap: 2rem;
        .headline-text {
          min-height: 7rem;
          h1,
          h2 {
            font-size: 2.75rem;
            font-weight: 800;
          }

          h2::after {
            height: 3rem;
          }
        }

        button {
          width: 15rem;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  header {
    .hero-content {
      flex-direction: row-reverse;

      .img-container {
        height: 28rem;
        img {
          width: 28rem;
        }
      }
    }
  }
}
