<section id="about-me">
  <div class="section-content">
    <h3>About Me</h3>
    <p appInView="slide-in">
      As a recent graduate of MATC's Web Development program, I have developed a
      strong foundation in core web development principles. My academic journey
      equipped me with valuable skills, including UI/UX design using Figma,
      wireframing and design flow implementation, as well as a deep
      understanding of software development lifecycles. Since graduating, I have
      committed myself to continuous learning, further expanding my skill set
      and building a diverse portfolio. The projects showcased here highlight my
      proficiency in front-end technologies and my ability to develop robust
      back-end systems with a focus on security best practices.
    </p>
    <h3>Skills</h3>
    <p appInView="slide-in">
      These are the technologies I have worked with and developed skills in
      during my academic career:
    </p>
    <article class="skills-container">
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/css-3.png" alt="icon" />
        <h5>CSS</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/node-js.png" alt="icon" />
        <h5>NodeJS</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/typescript.png" alt="icon" />
        <h5>Typescript</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/js.png" alt="icon" />
        <h5>Javascript</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/bootstrap.png" alt="icon" />
        <h5>Bootstrap</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/express.svg" alt="icon" />
        <h5>Express</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/angular.png" alt="icon" />
        <h5>Angular</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/sass.png" alt="icon" />
        <h5>SASS</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/c-sharp.png" alt="icon" />
        <h5>C#</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/git.png" alt="icon" />
        <h5>Git</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/mongo.png" alt="icon" />
        <h5>MongoDB</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/mysql.png" alt="icon" />
        <h5>MySQL</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/figma.png" alt="icon" />
        <h5>Figma</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/postman-icon.webp" alt="icon" />
        <h5>Postman</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/netlify.png" alt="icon" />
        <h5>Netlify</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/render.webp" alt="icon" />
        <h5>Render</h5>
      </div>
    </article>
  </div>
</section>
