<section id="about-me">
  <div class="about-me-content">
    <h3>About Me</h3>
    <p appInView="slide-in">
      As a recent graduate of MATC's Web Development program, I have developed a
      strong foundation in core web development principles. My academic journey
      equipped me with valuable skills, including UI/UX design using Figma,
      wireframing and design flow implementation, as well as a deep
      understanding of software development lifecycles. Since graduating, I have
      committed myself to continuous learning, further expanding my skill set
      and building a diverse portfolio. The projects showcased here highlight my
      proficiency in front-end technologies and my ability to develop robust
      back-end systems with a focus on security best practices.
    </p>
    <h3>Skills</h3>
    <p appInView="slide-in">
      These are the technologies I have worked with and developed skills in
      during my academic career:
    </p>
    <article class="skills-container">
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
      <div appInView="glide-in" class="skill-item">
        <img src="../../../assets/images/html-5.png" alt="icon" />
        <h5>HTML5</h5>
      </div>
    </article>
  </div>
</section>
